<!-- start footer -->
<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div id="footer-title" class="col-md-4 delcd-footer-link">
                    <h3>Go Umrah</h3>
                    <p>Your One Stop Shop for Umrah Bookings.</p>
                </div>
                <div class="col-md-4 delcd-footer-link">
                    <h3>Top Hotels in Makkah</h3>
                    <ul>
                        <li><a href="#">Jabal Omar Hyatt Regency Makkah</a></li>
                        <li><a href="#">Park Inn by Radisson Makkah Al Naseem</a></li>
                        <li><a href="#">Hilton Makkah Convention Hotel</a></li>
                    </ul>
                </div>
                <div class="col-md-4 delcd-footer-link">
                    <h3>Top Hotels in Madinah</h3>
                    <ul>
                        <li><a href="#">Province Al Sham Hotel</a></li>
                        <li><a href="#">Anwar Al Madinah Mövenpick </a></li>
                        <li><a href="#">Dar Al Hijra InterContinental</a></li>
                    </ul>
                </div>
          
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <p class="delcd-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2018 by Go Umrah Team. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

</div>
<!-- END delcd-page -->

</div>
<!-- END delcd-wrapper -->

<!-- Modernizr JS -->
<script src="js/modernizr-3.6.0.min.js"></script>

<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/migrate.min.js"></script>

<!-- Stellar -->
<script src="js/jquery.stellar.min.js"></script>

<!-- Bootstrap -->
<script src="js/bootstrap-4.0.0.min.js"></script>

<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>

<!-- Sticky Navbar -->
<script src="js/sticky.js"></script>

<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>

<!-- Date Picker -->
<script src="js/bootstrap-datepicker.min.js"></script>

<!-- smooth scroll -->
<script src="js/SmoothScroll.min.js"></script>

<!-- Main JS -->
<script src="js/main.js"></script>

</body>

</html>
