<div id="delcd-tours" class="delcd-section-gray">
    <div class="container">

        <!-- start subheading -->
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center heading-section">
                <h3>Book A Hotel</h3>
                <p>5 results sorted by Cheapest</p>
            </div>
        </div>
        <!-- end subheading -->

        <div class="row row-bottom-padded-md" >

            <!-- start flight list -->
            <div class="col-md-12">

                <a href="#" class="flight-book" style="margin-bottom: 30px;">
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">7.1</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/1.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Province Al Sham Hotel</div>
                                <div class="lead" style="font-size: 12px">
                                   Just 2 minutes walking distance from Masjid Nabwi gate 17 (ladies and gents entry) near Haram parking 9. Ladies Ziyarat gate 24 is just 3-minutes from Hotel.
                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>



                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.4</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/1.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Jabal Omar Hyatt Regency Makkah</div>
                                <div class="lead" style="font-size: 12px">
                                    Jabal Omar Hyatt Regency Makkah Jabal Omar is situated in the heart of the holy city of Makkah. The hotel is just a one-minute walk to Al-Masjid Al-Haram.
                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Very Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>


                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">7.3</div>
                                    
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/2.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Al Eiman Royal Hotel</div>
                                <div class="lead" style="font-size: 12px">
Located in the northern part of the central area in Al Madinah, Al Eman Royal Hotel is within 100 metres from the Prophet’s Mosque. Some of its rooms have views of Mount Uhud or the mosque.                               </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Good</div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>

				
				

                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.2</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/3.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Pullman Zamzam Madina Opens in new window</div>
                                <div class="lead" style="font-size: 12px">
Overlooking the Holy Haram, Hilton Suite Makkah is situated in the heart of the city of Makkah. The hotel is only minutes’ walk from the Grand Mosque and close to the new King Abdullah wing of Haram.                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Very Good</div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>



                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">7.7</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/4.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Dar Al Hijra InterContinental</div>
                                <div class="lead" style="font-size: 12px">
This 5-star hotel features a prime location in central Madina and has a restaurant that serves Asian and International cuisine. Prophet Muhammed's Holy Mosque is 300 metres away.                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;"> Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>
				

            </div>
            <!-- end flight list -->

        </div>
        <!-- end row -->


    </div>
    <!-- end container -->
</div>
<!-- end section -->
