<div id="delcd-tours" class="delcd-section-gray">
    <div class="container">

        <!-- start subheading -->
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center heading-section">
                <h3>Book A Hotel</h3>
                <p>5 results sorted by Cheapest</p>
            </div>
        </div>
        <!-- end subheading -->

        <div class="row row-bottom-padded-md" >

            <!-- start flight list -->
            <div class="col-md-12">

                <a href="#" class="flight-book" style="margin-bottom: 30px;">
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.4</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/1.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Jabal Omar Hyatt Regency Makkah</div>
                                <div class="lead" style="font-size: 12px">
                                    Jabal Omar Hyatt Regency Makkah Jabal Omar is situated in the heart of the holy city of Makkah. The hotel is just a one-minute walk to Al-Masjid Al-Haram.
                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Very Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>



                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.4</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/2.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Jabal Omar Hyatt Regency Makkah</div>
                                <div class="lead" style="font-size: 12px">
                                    Jabal Omar Hyatt Regency Makkah Jabal Omar is situated in the heart of the holy city of Makkah. The hotel is just a one-minute walk to Al-Masjid Al-Haram.
                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Very Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>


                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.2</div>
                                    
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/3.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Conrad Makkah</div>
                                <div class="lead" style="font-size: 12px">
Set in the heart of Makkah, one of the world’s most inspiring holy destinations, Conrad Makkah is just steps from the Kaaba and the Holy Mosque.                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Fabulous</div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>

				
				

                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">9.0</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/4.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Hilton Suites Makkah</div>
                                <div class="lead" style="font-size: 12px">
Overlooking the Holy Haram, Hilton Suite Makkah is situated in the heart of the city of Makkah. The hotel is only minutes’ walk from the Grand Mosque and close to the new King Abdullah wing of Haram.                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;">Fabulous </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>



                <a href="#" class="flight-book" >
                   
<div class="btn btn-info btn-circle btn-lg" style="border:1px solid;position: absolute;left: : -10;z-index: 10">8.9</div>
                                      
                    <div class="plane-name" style="border: 11px solid;text-align: center">
                        <img src="images/hotel/4.jpg" style="display: block;margin: 0 auto;width: 150px">
                    </div>
                    <div class="desc">

                                

                        <div class="row" style="color: #fff;border: 1px solid;padding: 40px;">

                            <div class="col-md-9">
                                <div style="font-size: 20px;font-weight: bold">Makkah Millennium Towers</div>
                                <div class="lead" style="font-size: 12px">
The 5-star Makkah Millennium Towers is 2 minutes’ walk from Makkah’s Holy Haram Mosque and the Kaaba. It offers stylish rooms, 7 dining options and a 10,000 seat carpeted prayer hall.                                </div>
                            </div>






                            <div class="col-md-3 right text-center" style="text-align: right">
                               <div>
                                <div class="" style="font-size: 14px;"> Good </div>

                                </div>
                                
                                <div class="btn btn-info btn-sm">Show price</div>
                            </div>
                        </div>

                    </div>
                </a>
				

            </div>
            <!-- end flight list -->

        </div>
        <!-- end row -->


    </div>
    <!-- end container -->
</div>
<!-- end section -->
